In [1]:
import pandas as pd

In [38]:
penguins = pd.read_csv("penguins.csv")

In [39]:
# information dataframe
penguins.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 344 entries, 0 to 343
Data columns (total 9 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   rowid              344 non-null    int64
 1   species            344 non-null    object
 2   island             344 non-null    object
 3   bill_length_mm     342 non-null    float64
 4   bill_depth_mm      342 non-null    float64
 5   flipper_length_mm  342 non-null    float64
 6   body_mass_g        342 non-null    float64
 7   sex                333 non-null    object
 8   year               344 non-null    int64
dtypes: float64(4), int64(2), object(3)
memory usage: 24.3+ KB

In [31]:
# select column
penguins[['island','sex']]
penguins.island

In [9]:
# iloc
penguins.iloc[ 0:2, [1,2,3] ]

,species,island,bill_length_mm
0,Adelie,Torgersen,39.1
1,Adelie,Torgersen,39.5

In [16]:
# filter df with one condition
penguins[penguins['island'] == 'Torgersen']

,rowid,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex,year
0,1,Adelie,Torgersen,39.1,18.7,181.0,3750.0,male,2007
1,2,Adelie,Torgersen,39.5,17.4,186.0,3800.0,female,2007
2,3,Adelie,Torgersen,40.3,18.0,195.0,3250.0,female,2007
3,4,Adelie,Torgersen,NaN,NaN,NaN,NaN,NaN,2007
4,5,Adelie,Torgersen,36.7,19.3,193.0,3450.0,female,2007
5,6,Adelie,Torgersen,39.3,20.6,190.0,3650.0,male,2007
6,7,Adelie,Torgersen,38.9,17.8,181.0,3625.0,female,2007
7,8,Adelie,Torgersen,39.2,19.6,195.0,4675.0,male,2007
8,9,Adelie,Torgersen,34.1,18.1,193.0,3475.0,NaN,2007
9,10,Adelie,Torgersen,42.0,20.2,190.0,4250.0,NaN,2007
10,11,Adelie,Torgersen,37.8,17.1,186.0,3300.0,NaN,2007
11,12,Adelie,Torgersen,37.8,17.3,180.0,3700.0,NaN,2007
12,13,Adelie,Torgersen,41.1,17.6,182.0,3200.0,female,2007
13,14,Adelie,Torgersen,38.6,21.2,191.0,3800.0,male,2007
14,15,Adelie,Torgersen,34.6,21.1,198.0,4400.0,male,2007
15,16,Adelie,Torgersen,36.6,17.8,185.0,3700.0,female,2007
16,17,Adelie,Torgersen,38.7,19.0,195.0,3450.0,female,2007
17,18,Adelie,Torgersen,42.5,20.7,197.0,4500.0,male,2007
18,19,Adelie,Torgersen,34.4,18.4,184.0,3325.0,female,2007
19,20,Adelie,Torgersen,46.0,21.5,194.0,4200.0,male,2007
68,69,Adelie,Torgersen,35.9,16.6,190.0,3050.0,female,2008
69,70,Adelie,Torgersen,41.8,19.4,198.0,4450.0,male,2008
70,71,Adelie,Torgersen,33.5,19.0,190.0,3600.0,female,2008
71,72,Adelie,Torgersen,39.7,18.4,190.0,3900.0,male,2008
72,73,Adelie,Torgersen,39.6,17.2,196.0,3550.0,female,2008
73,74,Adelie,Torgersen,45.8,18.9,197.0,4150.0,male,2008
74,75,Adelie,Torgersen,35.5,17.5,190.0,3700.0,female,2008
75,76,Adelie,Torgersen,42.8,18.5,195.0,4250.0,male,2008
76,77,Adelie,Torgersen,40.9,16.8,191.0,3700.0,female,2008
77,78,Adelie,Torgersen,37.2,19.4,184.0,3900.0,male,2008
78,79,Adelie,Torgersen,36.2,16.1,187.0,3550.0,female,2008
79,80,Adelie,Torgersen,42.1,19.1,195.0,4000.0,male,2008
80,81,Adelie,Torgersen,34.6,17.2,189.0,3200.0,female,2008
81,82,Adelie,Torgersen,42.9,17.6,196.0,4700.0,male,2008
82,83,Adelie,Torgersen,36.7,18.8,187.0,3800.0,female,2008
83,84,Adelie,Torgersen,35.1,19.4,193.0,4200.0,male,2008
116,117,Adelie,Torgersen,38.6,17.0,188.0,2900.0,female,2009
117,118,Adelie,Torgersen,37.3,20.5,199.0,3775.0,male,2009
118,119,Adelie,Torgersen,35.7,17.0,189.0,3350.0,female,2009
119,120,Adelie,Torgersen,41.1,18.6,189.0,3325.0,male,2009
120,121,Adelie,Torgersen,36.2,17.2,187.0,3150.0,female,2009
121,122,Adelie,Torgersen,37.7,19.8,198.0,3500.0,male,2009
122,123,Adelie,Torgersen,40.2,17.0,176.0,3450.0,female,2009
123,124,Adelie,Torgersen,41.4,18.5,202.0,3875.0,male,2009
124,125,Adelie,Torgersen,35.2,15.9,186.0,3050.0,female,2009
125,126,Adelie,Torgersen,40.6,19.0,199.0,4000.0,male,2009
126,127,Adelie,Torgersen,38.8,17.6,191.0,3275.0,female,2009
127,128,Adelie,Torgersen,41.5,18.3,195.0,4300.0,male,2009
128,129,Adelie,Torgersen,39.0,17.1,191.0,3050.0,female,2009
129,130,Adelie,Torgersen,44.1,18.0,210.0,4000.0,male,2009
130,131,Adelie,Torgersen,38.5,17.9,190.0,3325.0,female,2009
131,132,Adelie,Torgersen,43.1,19.2,197.0,3500.0,male,2009

In [18]:
penguins[penguins['bill_length_mm'] < 34]

,rowid,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex,year
70,71,Adelie,Torgersen,33.5,19.0,190.0,3600.0,female,2008
98,99,Adelie,Dream,33.1,16.1,178.0,2900.0,female,2008
142,143,Adelie,Dream,32.1,15.5,188.0,3050.0,female,2009

In [20]:
# filter df with multi conditions
penguins[(penguins['bill_length_mm'] < 34) & (penguins['island'] == 'Torgersen')]

,rowid,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex,year
70,71,Adelie,Torgersen,33.5,19.0,190.0,3600.0,female,2008

In [34]:
# fitler with query
penguins.query('(island == "Torgersen") | (island == "Dream")')
penguins.query('island == "Torgersen"')

,rowid,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex,year
0,1,Adelie,Torgersen,39.1,18.7,181.0,3750.0,male,2007
1,2,Adelie,Torgersen,39.5,17.4,186.0,3800.0,female,2007
2,3,Adelie,Torgersen,40.3,18.0,195.0,3250.0,female,2007
3,4,Adelie,Torgersen,NaN,NaN,NaN,NaN,NaN,2007
4,5,Adelie,Torgersen,36.7,19.3,193.0,3450.0,female,2007
5,6,Adelie,Torgersen,39.3,20.6,190.0,3650.0,male,2007
6,7,Adelie,Torgersen,38.9,17.8,181.0,3625.0,female,2007
7,8,Adelie,Torgersen,39.2,19.6,195.0,4675.0,male,2007
8,9,Adelie,Torgersen,34.1,18.1,193.0,3475.0,NaN,2007
9,10,Adelie,Torgersen,42.0,20.2,190.0,4250.0,NaN,2007
10,11,Adelie,Torgersen,37.8,17.1,186.0,3300.0,NaN,2007
11,12,Adelie,Torgersen,37.8,17.3,180.0,3700.0,NaN,2007
12,13,Adelie,Torgersen,41.1,17.6,182.0,3200.0,female,2007
13,14,Adelie,Torgersen,38.6,21.2,191.0,3800.0,male,2007
14,15,Adelie,Torgersen,34.6,21.1,198.0,4400.0,male,2007
15,16,Adelie,Torgersen,36.6,17.8,185.0,3700.0,female,2007
16,17,Adelie,Torgersen,38.7,19.0,195.0,3450.0,female,2007
17,18,Adelie,Torgersen,42.5,20.7,197.0,4500.0,male,2007
18,19,Adelie,Torgersen,34.4,18.4,184.0,3325.0,female,2007
19,20,Adelie,Torgersen,46.0,21.5,194.0,4200.0,male,2007
68,69,Adelie,Torgersen,35.9,16.6,190.0,3050.0,female,2008
69,70,Adelie,Torgersen,41.8,19.4,198.0,4450.0,male,2008
70,71,Adelie,Torgersen,33.5,19.0,190.0,3600.0,female,2008
71,72,Adelie,Torgersen,39.7,18.4,190.0,3900.0,male,2008
72,73,Adelie,Torgersen,39.6,17.2,196.0,3550.0,female,2008
73,74,Adelie,Torgersen,45.8,18.9,197.0,4150.0,male,2008
74,75,Adelie,Torgersen,35.5,17.5,190.0,3700.0,female,2008
75,76,Adelie,Torgersen,42.8,18.5,195.0,4250.0,male,2008
76,77,Adelie,Torgersen,40.9,16.8,191.0,3700.0,female,2008
77,78,Adelie,Torgersen,37.2,19.4,184.0,3900.0,male,2008
78,79,Adelie,Torgersen,36.2,16.1,187.0,3550.0,female,2008
79,80,Adelie,Torgersen,42.1,19.1,195.0,4000.0,male,2008
80,81,Adelie,Torgersen,34.6,17.2,189.0,3200.0,female,2008
81,82,Adelie,Torgersen,42.9,17.6,196.0,4700.0,male,2008
82,83,Adelie,Torgersen,36.7,18.8,187.0,3800.0,female,2008
83,84,Adelie,Torgersen,35.1,19.4,193.0,4200.0,male,2008
116,117,Adelie,Torgersen,38.6,17.0,188.0,2900.0,female,2009
117,118,Adelie,Torgersen,37.3,20.5,199.0,3775.0,male,2009
118,119,Adelie,Torgersen,35.7,17.0,189.0,3350.0,female,2009
119,120,Adelie,Torgersen,41.1,18.6,189.0,3325.0,male,2009
120,121,Adelie,Torgersen,36.2,17.2,187.0,3150.0,female,2009
121,122,Adelie,Torgersen,37.7,19.8,198.0,3500.0,male,2009
122,123,Adelie,Torgersen,40.2,17.0,176.0,3450.0,female,2009
123,124,Adelie,Torgersen,41.4,18.5,202.0,3875.0,male,2009
124,125,Adelie,Torgersen,35.2,15.9,186.0,3050.0,female,2009
125,126,Adelie,Torgersen,40.6,19.0,199.0,4000.0,male,2009
126,127,Adelie,Torgersen,38.8,17.6,191.0,3275.0,female,2009
127,128,Adelie,Torgersen,41.5,18.3,195.0,4300.0,male,2009
128,129,Adelie,Torgersen,39.0,17.1,191.0,3050.0,female,2009
129,130,Adelie,Torgersen,44.1,18.0,210.0,4000.0,male,2009
130,131,Adelie,Torgersen,38.5,17.9,190.0,3325.0,female,2009
131,132,Adelie,Torgersen,43.1,19.2,197.0,3500.0,male,2009

In [41]:
# check missing values
penguins.isna().sum()

In [44]:
# filter missing values
penguins[penguins['sex'].isna()]

,rowid,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex,year
3,4,Adelie,Torgersen,NaN,NaN,NaN,NaN,NaN,2007
8,9,Adelie,Torgersen,34.1,18.1,193.0,3475.0,NaN,2007
9,10,Adelie,Torgersen,42.0,20.2,190.0,4250.0,NaN,2007
10,11,Adelie,Torgersen,37.8,17.1,186.0,3300.0,NaN,2007
11,12,Adelie,Torgersen,37.8,17.3,180.0,3700.0,NaN,2007
47,48,Adelie,Dream,37.5,18.9,179.0,2975.0,NaN,2007
178,179,Gentoo,Biscoe,44.5,14.3,216.0,4100.0,NaN,2007
218,219,Gentoo,Biscoe,46.2,14.4,214.0,4650.0,NaN,2008
256,257,Gentoo,Biscoe,47.3,13.8,216.0,4725.0,NaN,2009
268,269,Gentoo,Biscoe,44.5,15.7,217.0,4875.0,NaN,2009
271,272,Gentoo,Biscoe,NaN,NaN,NaN,NaN,NaN,2009

In [46]:
# fill missing values
# Mean Imputation
mean_bill = penguins['bill_length_mm'].mean()

In [47]:
# fill value
penguins['bill_length_mm'].fillna(mean_bill)

In [49]:
# sorting
penguins.sort_values('bill_length_mm', ascending=False)

,rowid,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex,year
185,186,Gentoo,Biscoe,59.6,17.0,230.0,6050.0,male,2007
293,294,Chinstrap,Dream,58.0,17.8,181.0,3700.0,female,2007
253,254,Gentoo,Biscoe,55.9,17.0,228.0,5600.0,male,2009
339,340,Chinstrap,Dream,55.8,19.8,207.0,4000.0,male,2009
267,268,Gentoo,Biscoe,55.1,16.0,230.0,5850.0,male,2009
...,...,...,...,...,...,...,...,...,...
70,71,Adelie,Torgersen,33.5,19.0,190.0,3600.0,female,2008
98,99,Adelie,Dream,33.1,16.1,178.0,2900.0,female,2008
142,143,Adelie,Dream,32.1,15.5,188.0,3050.0,female,2009
3,4,Adelie,Torgersen,NaN,NaN,NaN,NaN,NaN,2007
271,272,Gentoo,Biscoe,NaN,NaN,NaN,NaN,NaN,2009

In [51]:
# unique and counting
penguins['species'].unique()
penguins['species'].value_counts()

In [52]:
    #multiple count
    penguins[['species', 'island']].value_counts().reset_index()

,species,island,0
0,Gentoo,Biscoe,124
1,Chinstrap,Dream,68
2,Adelie,Dream,56
3,Adelie,Torgersen,52
4,Adelie,Biscoe,44